/**
 * @author Anton Desin <anton.desin@gmail.com>
 * @link http://pirogov.ru/ Бюро Пирогова
 * Date: 12.06.2017
 * Time: 20:28
 */

body.boreas-preloader-opened {
	overflow:hidden;
}

.boreas-preloader {
	position: fixed;
	left: 0;
	top: 0;
	text-align: center;
	height: 100%;
	width: 100%;
	z-index:9999;

	background: #06344e;
	background: -moz-radial-gradient(center, ellipse cover, #052c41 0%, #031925 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #052c41 0%,#031925 100%);
	background: radial-gradient(ellipse at center, #052c41 0%,#031925 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#052c41', endColorstr='#031925',GradientType=1 );
}

.boreas-preloader .progress {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	margin-top:-2px;
	background-color:#fff;
}
.boreas-preloader .progress,
.boreas-preloader .progress-bar {
	height:4px;
	border-radius:0;
}

.boreas-preloader .progress-bar {
	-webkit-transition: all 1.5s linear;
	-moz-transition: all 1.5s linear;
	-o-transition: all 1.5s linear;
	transition: all 1.5s linear;
	background-color:#009cf6;
}


.bg-image {
	display:block;
	background-size:cover;
	padding-top:56.5%;
}

.image-1 { background-image: url('https://images4.alphacoders.com/882/88206.jpg');  }
.image-2 {  background-image: url('https://images8.alphacoders.com/704/704885.jpg');  }
.image-3 {  background-image: url('https://images4.alphacoders.com/744/74464.jpg');  }
.image-4 {  background-image: url('https://images8.alphacoders.com/697/697203.jpg');  }